@import url('https://fonts.googleapis.com/css?family=Biryani|Frank+Ruhl+Libre|Lato|Montserrat|Open+Sans|Playfair+Display|Raleway|Roboto');
/* mobile/base */
html {
background-image: url("background-1.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 100vh
}


/* tablet */
@media all and (min-width: 768px) {

}

/* desktop */
@media all and (min-width: 1024px) {

}






/* mobile landscape
@media all and (min-width: 480px) {
} */
/* desktop wide
@media all and (min-width: 1200px) {

} */